@import "./variables.module";

.header {
  margin: 20px;
  border: 8px solid $secondary;
  background: $secondary;
  box-shadow: $bs;
  -webkit-box-shadow: $bs;
  -moz-box-shadow: $bs;
  &,
  .wrapper {
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wrapper {
    width: 100%;
    padding: 8px;
    background-image: url("/blackboard.png");
    background-repeat:  no-repeat;
    background-size: cover;
    color: $light;
    font-family: "Chalk";
    text-align: center;
  }
}
