@import "./variables.module";
.mathProblem {
  font-size: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 4fr;
  align-items: flex-end;
  justify-content: center;
  gap: 16px;
  & > span {
    width: 32px;
    text-align: center;
    font-size: 30px;
    font-family: "Chalk";
  }
  .answerRow {
    border-bottom: 1px solid black;
    width: 100%;
  }
}
.index {
  font-family: "Chalk";
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  color: $light;
  border: 1px solid $light;
  display: flex;
  justify-content: center;
  align-items: center;
  &.inverted {
    background: transparent;
    color: black;
    border: 1px solid black;
  }
  &.small {
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 12px;
  }
}
