@import "./variables.module";
.mathProblem {
  font-size: 60px;
  display: grid;
  grid-template-columns: repeat(5, 1fr) 20mm;
  &.simple {
    grid-template-columns: repeat(3, 1fr);
  }
  @media print {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 50mm;
  }
  align-items: center;
  justify-content: center;
  gap: 8px;
  & > * {
    min-width: 20px;
    text-align: center;
    font-size: 30px;
    font-family: "Chalk";
  }
  .answerRow {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    &.incorrect {
      animation: horizontal-shaking 500ms ease-in-out ;
      animation-iteration-count: 1;
    }
    .correct {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 8px;
    }
    .incorrect {

    }
    input {
      border: none;
      background: transparent;
      padding: 4px 8px;
      margin: 0;
      font-family: "Chalk";
      border-bottom: 2px solid rgba(255, 255, 255, 0.5);
      outline: none;
      font-size: 20px;
      color: white;
      width: 20mm;
      &:focus {
        border-bottom: 2px solid rgba(255, 255, 255, 1);
      }
    }
    .answerRowInner {
      width: 100%;
      height: 2px;
      //background: white;
      @media print {
        background: black;
      }
    }
  }
}
.index {
  font-family: "Chalk";
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  color: $light;
  border: 1px solid $light;
  display: flex;
  justify-content: center;
  align-items: center;
  &.easy {
    border-color: #6aa84f;
    background: #6aa84f;
  }
  &.medium {
    border-color: #f1c232;
    background: #f1c232;
    color: black;
  }
  &.hard {
    border-color: #e69138;
    background: #e69138;
  }
  &.veryhard {
    border-color: #cc0000;
    background: #cc0000;
  }
  &.inverted {
    background: transparent;
    color: black;
    border: 1px solid black;
  }
  &.small {
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 12px;
  }
}
@keyframes horizontal-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateX(5px) }
  50% { transform: translateX(-5px) }
  75% { transform: translateX(5px) }
  100% { transform: translateX(0) }
}