@import "./variables.module";
.mathProblem {
  font-size: 60px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  @media print {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 50mm;
  }
  align-items: center;
  justify-content: center;
  gap: 16px;
  & > * {
    width: 32px;
    text-align: center;
    font-size: 30px;
    font-family: "Chalk";
  }
  .answerRow {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    .answerRowInner {
      width: 100%;
      height: 2px;
      background: white;
      @media print {
        background: black;
      }
    }
  }
}
.index {
  font-family: "Chalk";
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  color: $light;
  border: 1px solid $light;
  display: flex;
  justify-content: center;
  align-items: center;
  &.easy {
    border-color: green;
    background: green;
  }
  &.medium {
    border-color: yellow;
    background: yellow;
    color: black;
  }
  &.hard {
    border-color: orange;
    background: orange;
  }
  &.veryhard {
    border-color: red;
    background: red;
  }
  &.inverted {
    background: transparent;
    color: black;
    border: 1px solid black;
  }
  &.small {
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 12px;
  }
}
