@import "./variables.module";
$_size: 60;
$s1: #{$_size * 0.1}px;
$s2: #{$_size * 0.15}px;
$size: #{$_size}px;
$borderSize: #{$_size / 10}px;
$fontSize: #{$_size/ 2}px;
.button {
  outline: none;
  padding: 16px 20px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: $light;
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
  align-items: center;
  justify-content: center;
  border: none;
  @media only screen and (max-width: $ipadSize) {
    padding: 8px 16px;
    font-size: 16px;
  }

  &.leveled {
    aspect-ratio: 1;
    border-radius: 50%;
    border: $borderSize solid $light;
    box-shadow:
            #{-$s1} #{-$s1} $s2 rgba(255, 255, 255, 0.5),
            $s1 $s1 $s2 rgba(70, 70, 70, 0.12);
    position: relative;
    &::after {
      content: "";
      aspect-ratio: 1;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      box-shadow: 0 0 10px 15px #fff;
    }
  }
  &.primary:not(:disabled) {
    background: $primary;
  }
  &.secondary:not(:disabled) {
    background: $secondary;
  }
  &:disabled {
    opacity: 0.5;
    background: $disabled;
    color: $disabledLight;
    box-shadow: none;
  }
  &.chalk {
    font-family: "Chalk";
  }
}