.printComponent {
  font-family: "Chalk";
  display: block;
  .page {
    display: flex;
    flex-flow: column nowrap;
  }
  .header {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .problemWrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    .problems {
      column-count:  2;
      fleX: 1 1 100%;
      .problemEntryWrapper {
        display: flex;
        flex-flow: row nowrap;
        .problemEntry {
          flex: 0 0 50%;
        }
      }
    }
  }

  .pageBreak {
    page-break-before: always;
  }
  .answersOuter {
    display: flex;
    flex-flow: column-reverse;
    .header {
      transform: rotate(180deg);
    }
    .answers {
      height: 100%;
      width: 100%;
      .answer {
        transform: rotate(180deg);
        display: flex;
        float: left;
        flex-flow: row nowrap;
        gap: 4px;
        margin-top: 20px;
        margin-right: 20px;
        span {
          font-weight: bold;
        }
      }
    }
  }
}
