.printComponent {
  //width: 210mm;
  visibility: hidden;
  top: 0;
  left: 0;
  position: fixed;
  //overflow-y: auto;
  overflow: auto;
  font-family: "Chalk";
  background: white;
  display: block;
  .page {
    display: block;
  }
  .header {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .outerInner {
    display: block;
    width: 210mm;
    .problems {
      column-count: 2;
      & > * {
        flex: 0 1 40mm;
        float: left;
        position: relative;
      }
    }
  }
  .answersOuter {
    display: block;
    height: 297mm;
    bottom: 0;
    .answers {
      height: 100%;
      width: 100%;
      transform: rotate(180deg);
      .answer {
        display: flex;
        float: left;
        flex-flow: row nowrap;
        gap: 4px;
        margin-bottom: 20px;
        margin-right: 20px;
        span {
          font-weight: bold;
        }
      }
    }
  }
}
