@import "./variables.module.scss";
.problemPage {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 8px;
  background-color: $dark;
  background-image: url("/blackboard.png");
  background-repeat:  no-repeat;
  background-size: cover;
  border-radius: 16px;
  border: 10px solid $primary;
  color: $light;
  padding: 16px;
  overflow: hidden;
  box-shadow: $bs;
  .wrapper {
    overflow: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}
.bottomRow {
  display: flex;
  flex-flow: row nowrap;
  gap: 16px;
  .grow {
    flex: 1;
  }
}
.primary {
  background: $primary;
}
.secondary {
  background: $secondary;
}
