@import "./variables.module.scss";
.problemPage {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 8px;
  background-color: $dark;
  background-image: url("/blackboard.png");
  background-repeat:  no-repeat;
  background-size: cover;
  border-radius: 16px;
  border: 10px solid $primary;
  color: $light;
  padding: 16px;
  overflow: hidden;
  box-shadow: $bs;
  .header, h2 {
    font-family: "Chalk";
  }
  .wrapper {
    overflow: auto;
    column-count: 1;
    float: left;
    width: 100%;
    & > h2 {
      width: 100%;
      float: none;
      text-align: center;
      margin: 10px 0 20px;
    }
    & > div {
      float: left;
      margin-bottom: 32px;
      margin-right: 40px;
    }
  }
}
.bottomRow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 16px;
  .grow {
    flex: 1;
  }
}
.primary {
  background: $primary;
}
.secondary {
  background: $secondary;
}
