@import "./variables.module";
$_size: 60;
$s1: #{$_size * 0.1}px;
$s2: #{$_size * 0.15}px;
$size: #{$_size}px;
$borderSize: #{$_size / 10}px;
$fontSize: #{$_size/ 2}px;
.toggleButton {
  width: $size;
  height: $size;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 150ms ease-in-out;
  border-radius: 50%;
  border: $borderSize solid $light;
  box-shadow:
    #{-$s1} #{-$s1} $s2 rgba(255, 255, 255, 0.5),
    $s1 $s1 $s2 rgba(70, 70, 70, 0.12);
  font-size: $fontSize;
  line-height: $fontSize;
  position: relative;
  background-size: 200% 200%;
  background-position: center center;
  background-image: radial-gradient(rgba($primaryLight, 0), rgba($primary, 0));
  background-color: white;
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px 15px #fff;
    border-radius: 50%;
    //background: white;
  }
  &.toggled {
    background-size: 100% 100%;
    color: white;
    background-image: radial-gradient(rgba($primaryLight, 1) 1px, $primary 25px);
    animation: pulsate 1000ms ease infinite;
    box-shadow:
      #{-$s1} #{-$s1} $s2 rgba(255, 255, 255, 0.5),
      $s1 $s1 $s2 rgba(70, 70, 70, 0.12),
      inset #{-$s1} #{-$s1} $s2 rgba(255, 255, 255, 0.5),
      inset $s1 $s1 $s2 rgba(70, 70, 70, 0.12);
  }
}
@keyframes pulsate {
  0%, 100% {
    background-size: 100% 100%;
  }
  50% {
    background-size: 200% 200%;
  }
}