@import "@/styles/variables.module.scss";
@font-face {
  font-family: "Chalk";
  src: url("/NiceChalk.otf");
}
@media print {
  html, body {
    height: initial !important;
    overflow: initial !important;
    -webkit-print-color-adjust: exact;
  }
}
$margin: 20mm;
@media print {
  @page {
    size: #{210mm - $margin * 2} #{297mm - $margin * 2};
  }
}
body {
  margin: 0;

  main {
    &::after {
      content: "";
      height: 100%;
      width: 100%;
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url("/background.jpg");
      background-size: contain;
      opacity: 0.2;
    }
  }
}
h1 {
  margin: 0;
}
h2 {
  font-size: 32px;
  margin: 0;
}